/* Padronizando as margens e alguns atributos para que não sofram alteração*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

p {
	margin-top: 0px;
	margin-bottom: 0rem;
}

ul {
	padding: 0;
}

a {
	text-decoration: none;
	color: currentColor;
}

/* Iniciando a estilização*/

/* Container e seus filhos */

.container_grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas:
		"header"
		"main"
		"footer"
	;
	max-width: 1920px;
	margin: 0 auto;
}

aside {
	position: absolute;
	left: -105%;
	top: 3.5rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 6rem 1fr 1fr;

	width: 100%;
	height: 100vh;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

	grid-area: aside;
	transition: all ease 1000ms;
}

/* Estilizando o header */

header {
	display: grid;
	align-items: center;
	width: 100%;
	background: #FDF1EB;

	grid-area: header;
}

/* Estilizando o main e padronizando alguns dos seus filhos */

main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto auto auto auto;
	grid-template-areas:
		"title"
		"buttons"
		"image"
		"details"
		"more"
		"more"
	;

	width: 100%;
	height: 100%;
	grid-area: main;
	padding: 1rem;
}
/* Estilo definido do footer e seus filhos com pequenos ajustes possíveis se necessario */
footer {
	width: 100%;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-area: footer;
	padding: 1rem;
	font-family: 'Roboto', sans-serif;
}

.image_footer {
	width: 100%;
}

.image_footer img {
	width: 100%;
}

/* Estilizando o interact e seus filhos */
/* aside_header começa na linha 17 a 19 do html */ 
.aside_header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
}

/* aside_header h1 está na linha 18 do html*/
.aside_header h1 {
	font-size: 1.875rem;
	line-height: 2.188rem;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
}

/* estilizando a imagem 13 slaca */
.image_container {
	display: flex;
	align-items: center;
	justify-content: center;
}
 /* estilizando o menu que fica a esquerda e suas opções */
.menu-item {
	font-family: 'Quicksand', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 1.1rem;
	line-height: 1.188rem;
	color: #725C5C;
	padding: 0.7rem 0 0.7rem 1.2rem;
	border-bottom: 2px solid #E7E7E7;
	word-break: break-all;
	list-style: none;
}

/* estilizando o item que está ativo no menu a esquerda */
.item-active {
	background: #FDF1EB;
	border-left: solid 5px;
	margin: 0;
	border-image: linear-gradient(to bottom, #FFB455, #ED7839) 0 0 0 1;
}


/* Estilizando o Header  e seus filhos */

.navcss {
	margin: 1rem 1rem 0;

}

.navcss span {
	display: block;
	background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
	width: 30px;
	height: 5px;
	margin: 3px;

}
/* Parte do menu a esquerda da tela e o profile do header */
.active_menu {
	left: 0;
}

.main_header {
	padding: 1rem 1rem 0;
}

.title h5,
h1,
p {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #725C5C;
}

.title h1 {
	font-size: 1.375rem;
	line-height: 1.625rem;
	padding: 1rem 0;
}

.title h5,
p {
	font-size: 0.875rem;
	line-height: 1rem;
}

.button_language {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-radius: 3px;
	margin: 1rem 0;

}
/* Estlizando a caixa de seleção de linguagem */
.select_l {
	background: transparent;
	padding: 0.3rem;

	font-family: 'Quicksand', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;

	color: #333333;
	outline: none;
  border: solid 1px #aaaa;
}
/* foto do user no header */
.profile {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: flex-end;
	margin: 1rem 0;
}

.text_profile {
	font-family: 'Quicksand', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
}

.text_profile p {
	margin: 0;
}
/* Definindo o esilo da imagem */
.image_profile img {
	border-radius: 100%;
	margin: 0 0.5rem;
}

/* Estilizando o main e seus filhos */

.title_main {
	width: 100%;
	grid-area: title;
}

.title_main h1 {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 1.25rem;
	line-height: 1.563rem;
	letter-spacing: 0.05em;
	color: #ED7839;
}

/* estilizando o botão de opções de linguagem */
.buttons {
	grid-area: buttons;
	width: 100%;
	padding: 2rem 0;
}

.main-button {
	background: #ED7839;
	color: #FFFFFF;
	border-radius: 4px;
	padding: 0.5rem 1rem;
	margin: 0.5rem;
	white-space: nowrap;

	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
}

/* Estilizando o imagem de video */
.image_main {
	grid-area: image;
	width: 100%;
	height: 100%;
	padding: 2rem 0;
}

.video {
	width: 100%;
}

/* Fim da estilização do Main */

/* Estilizando o details seus filhos e propriedades */

/* É a seção que fica a esquerda da página que mostra autores tipos Universidades */

.details {
	grid-area: details;
	width: 100%;
	height: 100%;
	padding: 0 0 2rem;
}

.painel_details {
	width: auto;
	border: 1px solid #ECECEC;
	border-radius: 3px;
}
/* Sessão de detalhes dos autores e universidades famosas, abaixo seus filhos */
.painel_header {
	background: #FDF1EB;
	border: 1px solid #ECECEC;
	box-sizing: border-box;
	border-radius: 3px 3px 0px 0px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 1rem;
}

.painel_header h1 {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 25px;
	color: #4E4E4E;
}

.painel_content {
	height: 25rem;
	overflow-y: scroll;
	padding: 1rem;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-size: 1rem;
}

.info p {
	padding: 0.5rem 0;
}

.bold_info {
	font-weight: bold;
	color: #5C5C5C;
}

.authors {
	padding: 1rem 0;
}

.authors h4 {
	padding: 1rem 0;
}

.authors p {
	padding: 0.5rem 0;
}

.authors h4 {
	font-weight: bold;
	font-size: 1.125rem;
	letter-spacing: 0.02em;
	color: #5C5C5C;
}

.info_footer p {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	letter-spacing: 0.05em;
	color: #aaaa;
	padding: 0.5rem 0;
}

/* Fim da estilização do details */

/* Estilizando o sumary e seus filhos */

.main_more {
	grid-area: more;
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	grid-gap: 2rem 0;
	padding: 1rem 0;
}

.summary {
	width: 100%;
	height: 100%;
	border: 1px solid #ECECEC;
	border-radius: 3px;
	overflow: hidden;
	transition: height 600ms ease-out;
}

.summaryCollapsed {
	width: 100%;
	height: 100%;
	border: 1px solid #ECECEC;
	border-radius: 3px;
	overflow: unset;
}

.MC_header {
	display: flex;
	align-items: center;
	background: #FDF1EB;
	border: 1px solid #ECECEC;
	box-sizing: border-box;
	border-radius: 3px 3px 0px 0px;
	padding: 1rem;
}

.MC_header h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 1.563rem;
	color: #4E4E4E;
}
/* Estilo do summay que mostra todo conteúdo escrito em lorem ipsum */
.summary_content {
	overflow: hidden;
	padding: 1rem;
}

.see-more {
	outline: none;
	border: none;
	background: none;
	color: #FFB354;
	margin-left: 0.5rem;
	font-weight: bold;
}

.summary_content p {
	font-family: 'Quicksand', sans-serif;
	font-size: 0.875rem;
	line-height: 1.438rem;
	letter-spacing: 0.02em;
	color: #5C5C5C;
}

.discussions {
	width: 100%;
	border: 1px solid #ECECEC;
	border-radius: 3px;
}

.border {
	padding: 0rem;
}
 /*  Estilização da aba de comentários e discusões para autores responderem */
.discussion_content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	padding: 3rem 1rem 0;
	border-bottom: 1px solid #ECECEC;
}

.discussion_content h1 {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	color: #ED7839;
	text-align: center;
}

.container_icons {
	padding: 2rem 0 0;
}

.container_icons img {
	padding: 0 0.20rem 0;
}

.discussion_content p {
	padding: 3rem 0 0;
	font-family: 'Quicksand', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	color: #595959;
}
/* Estlizando a seção onde é criado tópicos  */
.btn_create_topic {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
	color: #FFFFFF;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
	border-radius: 4px;
	padding: 0.5rem 1rem;
	margin-top: 2.5rem;
	margin-bottom: -1rem;

	outline: none;
	border: none;

	font-family: 'Quicksand', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 16px;
	letter-spacing: 0.5px;

	text-align: center;

	color: #FFFFFF;
}

.btn_create_topic i {
	padding: 0 0.5rem 0;
}

.container_input {
	width: 100%;
	display: flex;
	align-self: flex-start;
	flex-direction: column;
}

.container_input label {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 1rem;
	line-height: 19px;
	color: #ED7839;
	padding: 1.5rem 0 0.5rem;
}

.container_input input,
textarea {
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	box-sizing: border-box;
	border-radius: 3px;
	padding: 0.5rem 1rem;
	resize: none;
}

.discussion_comments {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	background: #FFFFFF;
	border: 1px solid #E7E7E7;
	box-sizing: border-box;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	padding: 1.5rem;
	margin: 3rem 0 0;
}

.hover {
	overflow-y: hidden;
	height: 16rem;
}

.toggle_height {
	height: auto;
}

.discussion_comments h1 {
	font-family: 'Quicksand', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 1rem;
	line-height: 1.25rem;
	color: #ED7839;
}

.discussion_comments .name {
	font-family: 'Quicksand', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 0.75rem;
	line-height: 0.938rem;
	color: #5C5C5C;
	padding: 0.25rem 0 1rem;
}

.discussion_comments .comment {
	font-family: 'Quicksand', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 0.875rem;
	line-height: 1.063rem;
	color: #4D4D4D;
}
 /* esilização do footer final da página e alguns detalhes */
.container_footer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 1rem 0;
}

.container_footer i {
	padding-right: 1rem;
	color: #ED7839;

}

.container_footer p {
	padding: 0 1rem;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 350;
	font-size: 0.875rem;
	line-height: 1.188rem;
	color: #757575;
	cursor: pointer;
}

.container_icon_footer {
	display: flex;
	align-self: center;
	justify-content: center;
	background: #ED7839;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
	border-radius: 2px;
}

.container_icon_footer i {
	color: #fff;
	padding: 0.25rem 0.5rem;
}

.back {
	width: 100%;
	filter: blur(0.35rem);
}

.position {
	position: relative;
}

.padding {
	padding: 1rem 0;
}

.color_back {
	background: #DDDDDD;
}

.front {
	width: 100%;
	position: absolute;
}

.front_alignment {
	width: 85%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.front_alignment p {
	font-family: 'Quicksand', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 1rem;
	line-height: 1.25rem;
	color: #707070;
	text-align: center;
}

.front_alignment a {
	font-family: 'Segoe UI';
	font-style: normal;
	font-weight: normal;
	font-size: 0.875rem;
	line-height: 1.188rem;
	text-decoration-line: underline;
	color: #ED7839;
}

.cont_footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.cont_footer img {
	padding: 0 0 1rem;
}

.cont_footer a {
	margin: 0.5rem 0 1rem;
}

.know-more {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-size: 18px;
	border-radius: 5px;
	padding: 0.5rem 1rem;
	background: #71478e;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
}

.content_footer p {
	padding: 1rem 0;
	line-height: 1.563rem;
}

